body {
    background-image: url("./images/codeback.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    columns: #073238;

}

header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: white;
    font-size: 40px;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

.intro {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    padding: 60px;
    border-radius: 30px 30px 30px 30px;
    align-items: center;
}

.control {
    font-size: 24px;
    height: 100px;
    width: 150px;
    text-align: center;
    cursor: pointer;
    color: #fff;
    background-color: #079AAA;
    border-radius: 15px;
    border: none;
    box-shadow: 0 9px #999;

}

.question {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    padding: 60px;
    border-radius: 30px 30px 30px 30px;
    text-align: left;
}

.option {
  text-align: left;
  font-size: larger;
  height: 50px;
}

.timer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items:flex-end; 
}